<h1>OP</h1>

<% if user_signed_in? %>
  <a href='users/sign_out' data-method='DELETE'>로그아웃</a>
<% else %>
  <a href='signin'>로그인</a>
  <a href='signup'>회원가입</a>
<% end %>
<a href='/new'>새 프로젝트 만들기</a>
<a href='/mypage'>내 페이지(?)</a>

<form action='/search' method='POST'>
  <input type='search' name='keyword'/> <!--search를 쓸까 text를 쓸까 브라우저 지원 현황은 동일한 것 같은데-->
  <!--
  <select name='filter'>
    <option value='title'>제목</option>
    <option value='admin'>책임자 아이디</option>
  </select>
  -->
  <span id="filter" data-value="filter">필터</span>
  <button>검색</button>
</form>
<div id="filter-board" style="display: none;">
  <div class="filter-board-attribute">
    <label>책임자 아이디</label>
  </div>
  <div class="filter-board-attribute">
    <label>프로젝트명</label>
  </div>
  <div class="filter-board-attribute">
    <label>최대 인원</label>
    <input type="checkbox" value="maxMember"><span>1명</span>
    <input type="checkbox" value="maxMember"><span>1명</span>
  </div>
  <div class="filter-board-attribute">
    <label>필요한 스킬</label>
  </div>
  <div class="filter-board-attribute">
    <label>언어</label>
  </div>
  <div class="filter-board-attribute">
    <label>온라인 여부</label>
  </div>
  <div class="filter-board-attribute">
    <label>도구</label>
  </div>
  <div class="filter-board-attribute">
    <label>모집 마감 여부</label>
  </div>
  <div class="filter-board-attribute">
    <label>태그</label>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#filter").on('click', function() {
      $("#filter-board").toggle();
    })
  })
</script>

<p>여기에 프로젝트 목록을 보여주면 좋을 것 같네요.</p>