<form action='/search' method='POST'> <!-- 'post'라고 써도 상관 없는 듯 -->
  <input type='text' name='title'/> <!-- 굳이 type을 search라고 할 필요는 없을 듯..? 보기 편한 거 빼면 text랑 똑같으니까 아마! -->
  <!-- 필터는 일단 좀 나중에! 
  <input type='radio' name=''/>search by project name
  <input type='radio' name=''/>search by admin id
  -->
  <button>search</button>
</form>