<div class="ui attached stackable menu">
  <div class="ui container">
    <div class="item">OP</div>
    <!--이 부분은 application.html.erb로 옮겨서 항상 보이게 하는 게 낫겠다-->
    <% if user_signed_in? %>
      <a class="item" href='users/sign_out' data-method='DELETE'>로그아웃</a>
      <a class="item" href='/new'>새 프로젝트 만들기</a>
      <a class="item" href='/mypage'>내 페이지(?)</a>
    <% else %>
      <a class="item" href='/signin'>로그인</a>
      <a class="item" href='/signup'>회원가입</a>
    <% end %>
  </div>
</div>

  <div class="ui stackable">
    <form action='/search' method='POST'>
      <div class="ui input huge fluid action">
        <input type='search' name='keyword'/>
        <button class="ui icon button huge">
          <i class="search icon"></i>
        </button>
        <span id="filter" class="ui icon button huge">
          <i class="filter icon"></i>
        </span>
      </div>
      <div class="ui segment" id="filter-board" style="position: fixed; visibility: hidden; z-index: 2;"> <!--display: none;-->
        <!--프로젝트명이랑 책임자 이름은 그냥 입력해서 검색하게 함.
        # 들어가면 태그로 인식하게 하기?! 정규표현식 써야 하나 어떻게 하는지 찾아 보기-->
        <div class="filter-board-attribute">
          <label>최대 인원(1~20): </label>
          <input type="range" name="maxMember" min="1" max="20" value="20">
        </div>
        <div class="filter-board-attribute">
          <label>사용 언어: </label>
          <input type="radio" name="isKorean" value="true">한국어
          <input type="radio" name="isKorean" value="false">English
        </div>
        <div class="filter-board-attribute">
          <label>협업 방식: </label>
          <input type="radio" name="isOnline" value="true">재택/온라인
          <input type="radio" name="isOnline" value="false">오프라인 모임
        </div>
        <div class="filter-board-attribute">
          <label>필요한 스킬: </label>
        </div>
        <div class="filter-board-attribute">
          <label>도구: </label>
        </div>
        <div class="filter-board-attribute">
          <label>모집 마감 여부: </label>
        </div>
        <div class="filter-board-attribute">
          <label>태그: </label>
        </div>
      </div>
    </form>
  </div>

  <h2>featured projects</h2> <!-- 일단은 최근 것 3개만 보여 줌(보여 주는 알고리즘은 나중에 보완하기) -->
  <div id="featured-projects-box">
    <% @projects.reverse.each_with_index do |p, i| %>
      <% if i < 3 %>
        <div class="ui segment">
          제목: <%= p.title %><br>
          책임자: <%= p.admin.name %><br>
          설명: <%= p.description %><br>
          <a href="/project/<%=p.id%>">상세보기</a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#filter").on('click', function() {
      // $("#filter-board").toggle();
      $("#filter-board").css("visibility") == "hidden" ? $("#filter-board").css("visibility", "visible") : $("#filter-board").css("visibility", "hidden");
    })
  })
</script>

