<h1>OP</h1>
<%# <form>
  <input type='text' name='' placeholder='프로젝트 찾아보기'>
  <button>검색</button>
</form> %>
<a href='/new'>새 프로젝트(연구?) 시작하기</a>

<% @projects.reverse.each do |p| %>
  <div style='border: 1px solid black;'>
    <a href='/<%= p.id %>' data-method='DELETE'>delete</a>
    <div><%= p.name %></div>
    <div><%= p.description %></div>
  </div>
  <div>
    <button>참여하기</button>
    <button>질문하기</button>
  </div>
<% end %>

<!--버튼 이름 같은 거 어떤 식으로 정할 지 생각해 보기-->
<!--'프로젝트' 말고 아예 다른 이름 생각해 보기?-->