<h1>새 프로젝트 추가</h1>

<form class="ui form" action='/' method='POST'>
	<!-- https://www.w3schools.com/tags/att_input_type.asp -->
	<input type='hidden' name='admin_id' value=<%= current_user.id%>/>
	<div class="field">
		<p>프로젝트 제목</p> <!-- 아직은 <label> 태그 사이에 넣으면 촌스러움 -->
		<input type='text' name='title'/>
	</div>
	<div class="field">
		<p>프로젝트 설명</p>
		<textarea rows='5' cols='50' name='description'></textarea>
	</div>
	<div class="field ui three column gird">
		<div class="ui three column grid">
			<div class="column">
				<p>최대 인원</p>
				<input type='number' name='maxMember' min='1'/>
			</div>
			<div class="column">
				<p>사용 언어</p>
				<select name='isKorean'>
					<option value='true'>한국어</option>
					<option value='false'>English</option>
				</select>
			</div>
			<div class="column">
				<p>협업 방식</p>
				<select name='isOnline'>
					<option value='true'>재택/온라인</option>
					<option value='false'>오프라인 모임</option>
				</select>
			</div>
		</div>
	</div>
    <div class="field">
			<p>필요한 스킬</p>
			<input type='text' name='skills'/>
    </div>
    <div class="field">
			<p>협업툴</p>
			<input type='text' name='tools'/>
    </div>
	<div class="field">
		<p>첨부파일 (파일이 여러개일 경우 zip파일로 모아서 첨부해주세요.)</p>
		<input type='file' name='files'/>
	</div>
	<div class="field">
		<p>태그 (엔터키로 구분하여 입력해주세요)</p>
		<textarea rows='5' cols='20' name='tags'></textarea>
	</div>

	<button class="ui button" type="submit">제출</button>
</form>