<h1>My Page </h1>

<strong>Name: </strong> <p> 홍길동 </p>
<strong>Institution: </strong> <p> College of Liberal Studies, Seoul National University </p>
<strong>Research Interest(s): </strong> <p> Open Project, Like Lion </p>
<strong>E-mail: </strong> <p> OP@snu.ac.kr </p>
<strong>Introduction: </strong> <p> </p>

<h2><strong>My Projects</strong></h2>
<strong>프로젝트 제목:</strong> <p><%= @my_project.title %></p>
