/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic
 */

@import "variables";

body {
    background-color: $salami-l4 !important;
}

.ui {
    border: none !important;
}

.ui.main.container {
    background-color: rgba(0,0,0,0);
}

.ui.attached.stackable.menu#bar {
    background-color: $salami-0;
}

.ui.attached.stackable.menu#project-bar {
    background-color: $salami-l1;
}

.ui.segment {
    a.project-title {
        color: $salami-d3;
    }
    a.project-admin {
        color: rgba(0, 0, 0, 0.4);
    }
}

.ui.card {
    height:100%;
    a.project-title {
        color: $salami-d3;
    }
}