/* 

색 변수명 참고: http://bi.spoqa.com/color.html

| dark <------> light |
| d3 d2 d1 0 l1 l2 l3 |

*/

$salami-0: #F98D7A;

$salami-l1: #faa292;
$salami-l2: #fbb7ab;
$salami-l3: #fcccc3;
$salami-l4: rgb(255, 230, 226);

$salami-d1: #f87862;
$salami-d2: #f76349;
$salami-d3: #f64e31;