<!DOCTYPE html>
<html>
  <head>
    <title>OP</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main ui container">
      <div class="ui attached stackable menu">
        <div class="ui container">
          <a class="header item" href='/'>OP</a>
          <% if user_signed_in? %>
            <a class="item" href='/users/sign_out' data-method='DELETE'>로그아웃</a>
            <a class="item" href='/new'>새 프로젝트 만들기</a>
            <a class="item" href='/mypage'>내 페이지(?)</a>
          <% else %>
            <a class="item" href='/signin'>로그인</a>
            <a class="item" href='/signup'>회원가입</a>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
